In [24]:
import pandas as pd

datasource = r"data/winemag-data-130k-v2.csv.zip"

main_df = pd.read_csv(datasource,index_col=0)

In [25]:
main_df

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks
...,...,...,...,...,...,...,...,...,...,...,...,...,...
129966,Germany,Notes of honeysuckle and cantaloupe sweeten th...,Brauneberger Juffer-Sonnenuhr Spätlese,90,28.0,Mosel,NaN,NaN,Anna Lee C. Iijima,NaN,Dr. H. Thanisch (Erben Müller-Burggraef) 2013 ...,Riesling,Dr. H. Thanisch (Erben Müller-Burggraef)
129967,US,Citation is given as much as a decade of bottl...,NaN,90,75.0,Oregon,Oregon,Oregon Other,Paul Gregutt,@paulgwine,Citation 2004 Pinot Noir (Oregon),Pinot Noir,Citation
129968,France,Well-drained gravel soil gives this wine its c...,Kritt,90,30.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Gresser 2013 Kritt Gewurztraminer (Als...,Gewürztraminer,Domaine Gresser
129969,France,"A dry style of Pinot Gris, this is crisp with ...",NaN,90,32.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss
129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,90,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit

In [26]:
agg_df = main_df[['country','points']].groupby('country').count().reset_index() #Creates a new DF of country and points, then isolates the unigue rows in country and then counti it.

agg_df

                   country  points
0                Argentina    3800
1                  Armenia       2
2                Australia    2329
3                  Austria    3345
4   Bosnia and Herzegovina       2
5                   Brazil      52
6                 Bulgaria     141
7                   Canada     257
8                    Chile    4472
9                    China       1
10                 Croatia      73
11                  Cyprus      11
12          Czech Republic      12
13                   Egypt       1
14                 England      74
15                  France   22093
16                 Georgia      86
17                 Germany    2165
18                  Greece     466
19                 Hungary     146
20                   India       9
21                  Israel     505
22                   Italy   19540
23                 Lebanon      35
24              Luxembourg       6
25               Macedonia      12
26                  Mexico      70
27                 Moldova      59
28                 Morocco      28
29             New Zealand    1419
30                    Peru      16
31                Portugal    5691
32                 Romania     120
33                  Serbia      12
34                Slovakia       1
35                Slovenia      87
36            South Africa    1401
37                   Spain    6645
38             Switzerland       7
39                  Turkey      90
40                      US   54504
41                 Ukraine      14
42                 Uruguay     109

In [27]:



points_df = main_df[['country','points']].groupby('country').agg('mean').round(1).reset_index() #Does the same as above but gets the mean and also rounds it by one decimal

points_df

                   country  points
0                Argentina    86.7
1                  Armenia    87.5
2                Australia    88.6
3                  Austria    90.1
4   Bosnia and Herzegovina    86.5
5                   Brazil    84.7
6                 Bulgaria    87.9
7                   Canada    89.4
8                    Chile    86.5
9                    China    89.0
10                 Croatia    87.2
11                  Cyprus    87.2
12          Czech Republic    87.2
13                   Egypt    84.0
14                 England    91.6
15                  France    88.8
16                 Georgia    87.7
17                 Germany    89.9
18                  Greece    87.3
19                 Hungary    89.2
20                   India    90.2
21                  Israel    88.5
22                   Italy    88.6
23                 Lebanon    87.7
24              Luxembourg    88.7
25               Macedonia    86.8
26                  Mexico    85.3
27                 Moldova    87.2
28                 Morocco    88.6
29             New Zealand    88.3
30                    Peru    83.6
31                Portugal    88.3
32                 Romania    86.4
33                  Serbia    87.5
34                Slovakia    87.0
35                Slovenia    88.1
36            South Africa    88.1
37                   Spain    87.3
38             Switzerland    88.6
39                  Turkey    88.1
40                      US    88.6
41                 Ukraine    84.1
42                 Uruguay    86.8

In [28]:
final_df = agg_df.rename(columns={'points':"count"}) #renames counts to points

final_df

                   country  count
0                Argentina   3800
1                  Armenia      2
2                Australia   2329
3                  Austria   3345
4   Bosnia and Herzegovina      2
5                   Brazil     52
6                 Bulgaria    141
7                   Canada    257
8                    Chile   4472
9                    China      1
10                 Croatia     73
11                  Cyprus     11
12          Czech Republic     12
13                   Egypt      1
14                 England     74
15                  France  22093
16                 Georgia     86
17                 Germany   2165
18                  Greece    466
19                 Hungary    146
20                   India      9
21                  Israel    505
22                   Italy  19540
23                 Lebanon     35
24              Luxembourg      6
25               Macedonia     12
26                  Mexico     70
27                 Moldova     59
28                 Morocco     28
29             New Zealand   1419
30                    Peru     16
31                Portugal   5691
32                 Romania    120
33                  Serbia     12
34                Slovakia      1
35                Slovenia     87
36            South Africa   1401
37                   Spain   6645
38             Switzerland      7
39                  Turkey     90
40                      US  54504
41                 Ukraine     14
42                 Uruguay    109

In [29]:


final_df['points'] = points_df['points']
final_df

                   country  count  points
0                Argentina   3800    86.7
1                  Armenia      2    87.5
2                Australia   2329    88.6
3                  Austria   3345    90.1
4   Bosnia and Herzegovina      2    86.5
5                   Brazil     52    84.7
6                 Bulgaria    141    87.9
7                   Canada    257    89.4
8                    Chile   4472    86.5
9                    China      1    89.0
10                 Croatia     73    87.2
11                  Cyprus     11    87.2
12          Czech Republic     12    87.2
13                   Egypt      1    84.0
14                 England     74    91.6
15                  France  22093    88.8
16                 Georgia     86    87.7
17                 Germany   2165    89.9
18                  Greece    466    87.3
19                 Hungary    146    89.2
20                   India      9    90.2
21                  Israel    505    88.5
22                   Italy  19540    88.6
23                 Lebanon     35    87.7
24              Luxembourg      6    88.7
25               Macedonia     12    86.8
26                  Mexico     70    85.3
27                 Moldova     59    87.2
28                 Morocco     28    88.6
29             New Zealand   1419    88.3
30                    Peru     16    83.6
31                Portugal   5691    88.3
32                 Romania    120    86.4
33                  Serbia     12    87.5
34                Slovakia      1    87.0
35                Slovenia     87    88.1
36            South Africa   1401    88.1
37                   Spain   6645    87.3
38             Switzerland      7    88.6
39                  Turkey     90    88.1
40                      US  54504    88.6
41                 Ukraine     14    84.1
42                 Uruguay    109    86.8

In [30]:
final_df

                   country  count  points
0                Argentina   3800    86.7
1                  Armenia      2    87.5
2                Australia   2329    88.6
3                  Austria   3345    90.1
4   Bosnia and Herzegovina      2    86.5
5                   Brazil     52    84.7
6                 Bulgaria    141    87.9
7                   Canada    257    89.4
8                    Chile   4472    86.5
9                    China      1    89.0
10                 Croatia     73    87.2
11                  Cyprus     11    87.2
12          Czech Republic     12    87.2
13                   Egypt      1    84.0
14                 England     74    91.6
15                  France  22093    88.8
16                 Georgia     86    87.7
17                 Germany   2165    89.9
18                  Greece    466    87.3
19                 Hungary    146    89.2
20                   India      9    90.2
21                  Israel    505    88.5
22                   Italy  19540    88.6
23                 Lebanon     35    87.7
24              Luxembourg      6    88.7
25               Macedonia     12    86.8
26                  Mexico     70    85.3
27                 Moldova     59    87.2
28                 Morocco     28    88.6
29             New Zealand   1419    88.3
30                    Peru     16    83.6
31                Portugal   5691    88.3
32                 Romania    120    86.4
33                  Serbia     12    87.5
34                Slovakia      1    87.0
35                Slovenia     87    88.1
36            South Africa   1401    88.1
37                   Spain   6645    87.3
38             Switzerland      7    88.6
39                  Turkey     90    88.1
40                      US  54504    88.6
41                 Ukraine     14    84.1
42                 Uruguay    109    86.8